.card {
  box-shadow: 0 0 2px lightgrey;
  width: 200px;
  padding: 12px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}

.card > img {
  height: 100px;
  width: 100px;
  margin: 12px 40px;
}

.card > p {
  color: grey;
}
